<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
  
    {% block title %}{% endblock title %}
    {% load static %}
    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
  
    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'myshop/css/bootstrap.css' %}"
    />
  
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'myshop/css/style.css' %}" />
    <!-- responsive style -->
    <link rel="stylesheet" href="{% static 'myshop/css/responsive.css' %}" />
    {% block custom_style %}{% endblock custom_style %}
  </head>
  
  <body>
    {% block headers %}{% endblock headers %}

    {% block content %}{% endblock content %}
  </body>
    
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>