  {% extends 'myshop/product_list.html' %}
  {% load humanize %}

  {% block title %}
    <title>Trang chủ</title>
  {% endblock %}
  {% block slider %}
    <!-- slider section -->
    <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
          <div class="carousel-inner">
            {% for thumbnail in thumnails %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="detail-box">
                      <h1>
                        Chào mừng tới <br>
                        Vi tính Duy Quang
                      </h1>
                      <p>
                        Quốc lộ 1A, Khu phố 2, TT Hòa Vinh, Đông Hòa
                      </p>
                      <a href="">
                        Liên hệ ngay
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="img-box">
                      <img src="{{ thumbnail.image.url }}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <img src="images/line.png" alt="" />
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  {% endblock %}
