{% extends "myshop/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block custom_style %}
  <link rel="stylesheet" href="{% static 'myshop/css/product_form_style.css' %}" />
{% endblock custom_style %}

{% block title %}
  {% if product %}
    <title>Edit Product - {{ product.name }}</title>
  {% else %}
    <title>Create New Product</title>
  {% endif %}
{% endblock title %}

{% block content %}
<div class="outer">
  <div class="btn-group-vertical">
    {% if product %}
      <a class="btn btn-outline-info" style="margin-left: 20px; margin-top: 20px;" href="{% url 'product-detail' product.id %}">Back</a>
    {% else %}
      <a class="btn btn-outline-info" style="margin-left: 20px; margin-top: 20px;" href="{% url 'index' %}">Back</a>
    {% endif %}
  </div>
  <div class="center-wrapper">
    <div class="container-fluid content">
      {% if product %}
        <h3>Edit Product - {{ product.name }}</h3>
      {% else %}
        <h3>Create New Product</h3>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %} 
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class+="form-control" %}
            {% if field == form.thumbnail %}
              <br/>
              Current: <img src="{{ field.value.url }}"> 
        {% endif %}
          </div>
        {% endfor %}
        <label for="product_images">Product Images: </label>
        <div>
        {% for formset in imageform %}
          {{ formset.management_form }}
          {% for form in formset %}
            {{ form }}
          {% endfor %}
        {% endfor %}
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </div> 
</div>
{% endblock content %}
