<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
  
    <title>Home</title>
    {% load static %}
    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
  
    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'myshop/css/bootstrap.css' %}"
    />
  
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'myshop/css/style.css' %}" />
    <!-- responsive style -->
    <link rel="stylesheet" href="{% static 'myshop/css/responsive.css' %}" />
  </head>
  
  <body>
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="#">
          <span>
            My Shop
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#shop_section">
                Shop
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer_section">Contact Us</a>
            </li>
          </ul>
          <div class="user_option">
          {% if user.is_staff %}
            <div class="col">
                <a href="{% url 'product_create' %}" class="btn btn-outline-success"> Add Product </a>
            </div>
          {% endif %}
            {% comment %} TODO: Implement search {% endcomment %}
            {% comment %} <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form> {% endcomment %}
          </div>
        </div>
      </nav>
    </header>
    <!-- shop section -->
    <section id="shop_section" class="shop_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Latest Products</h2>
        </div>
        {% if product_list %}
        <div class="row">
          {% for product in product_list %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
              <a href="{% url 'product_detail' product.id %}">
                <div class="img-box">
                  <img src="{{product.thumbnail.url}}" alt="" />
                </div>
                <div class="detail-box">
                  <h6>{{ product.name }}</h6>
                  <h6>
                    Price
                    <span> {{ product.price }} </span>
                  </h6>
                </div>
                <div class="new">
                  <span> New </span>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No products to show.</p>
        {% endif %}
        {% comment %} <div class="btn-box">
          <a href=""> View All Products </a>
        </div> {% endcomment %}
      </div>
    </section>
  
    <!-- end shop section -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
  </body>