{% block title %}
  <title>New</title>
{% endblock title %}
{% block custom_style %}
  {% load static %}
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{% static 'myshop/css/product_form_style.css' %}" />
{% endblock custom_style %}
{% block content %}
  <div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="btn-group" style="float: inline-end; position: relative; margin-left: -60px;">
        <a class="btn-item" href="/">Cancel</a>
      </div>
      <div class="title">
        <i class="fas fa-pencil-alt"></i>
        <h2>New</h2>
      </div>
      <div class="info">
        {% for field in form %} {{ field.label }} {{ field }} <br /><br />
        {% endfor %} 
        {{ imageform.management_form }} 
        {% for form in imageform %} {{ form }} {% endfor %}
      </div>

      <button type="submit" name="submit" value="Submit">Submit</button>
    </form>
  </div>
{% endblock content %}